html, body, * {
    margin: 0;
    box-sizing: border-box;
    color: rgb(183, 220, 252);
    background: rgb(23, 28, 87);
}

#container-box {
    margin-left: 10px;
    margin-top: 10px;
}
p {
    margin-bottom: 10px;
    font-size: 25px;
}

.output {
    background-color: rgb(41, 88, 241);
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 15px;
    margin-top: 15px;
    width: 700px;
    text-align: center;
}

h3 {
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 20px;
}
.title {
    text-decoration: underline;
    font-size: 30px;
}

.image {
    margin-bottom: 5px;
    width: 100%;
}

#absoluteTitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}